

<h1>Battle!</h1>
<h2>Sign in to play!</h2>
<form action="/names" method="post">
  <input type="text" name="player1" placeholder="Player one">
fight  <input type="text" name="player2" placeholder="Player two">
  <input type="submit" value="Submit">
</form>
